.ico {
    cursor: pointer;
    display: inline-block;

    &_region {
        background-image: url("../../img/icons/region.svg");
        width: 15px;
        height: 16px;
    }
}

.logo_instagram img {
    width: 50px;
}