.ico {
    cursor: pointer;
    display: inline-block;

    &_region {
        background-image: url("../../img/icons/region.svg");
        width: 15px;
        height: 16px;
    }

    &_mail {
        background-image: url("../../img/icons/mail.svg");
        width: 26px;
        height: 26px;
        margin-right: 8px;
    }

    &_phone {
        background-image: url("../../img/icons/phone.svg");
        width: 26px;
        height: 26px;
        margin-right: 8px;
    }
}

.logo_instagram img {
    width: 50px;
}