.ico {
    cursor: pointer;
    display: inline-block;

    &_region {
        background-image: url("../../img/icons/region.svg");
        width: 15px;
        height: 16px;
    }

    &_mail {
        background-image: url("../../img/icons/mail.svg");
        width: 26px;
        height: 26px;
        margin-right: 8px;
    }

    &_phone {
        background-image: url("../../img/icons/phone.svg");
        width: 26px;
        height: 26px;
        margin-right: 8px;
    }
}

.logo img {
    width: 70px;
}

.logo_instagram img {
    width: 50px;
}

.arrow-to-top {
    width: 70px;
    height: 70px;
    top: 80vh;
    right: 20px;
    position: fixed;
    display: none;

    img {
        width: 40px;
    }
}